<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first %>
    <%= form.text_field :first, id: :contact_first %>
  </div>

<!--   <div class="field">
    <%#= form.label :last %>
    <%#= form.text_field :last, id: :contact_last %>
  </div> -->

    <div class="field">
    <%= form.label :last %>
    <%= form.text_field :last, :value => form.object.last&.titlecase %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, id: :contact_model %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :contact_phone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
