<p id="notice"><%= notice %></p>

<p>
  <strong>First:</strong>
  <%= @contact.first %>
</p>

<p>
  <strong>Last:</strong>
  <%= @contact.last %>
</p>

<p>
  <strong>Model:</strong>
  <%= @contact.model %>
</p>

<p>
  <strong>Phone:</strong>
  <%=  @contact.phone %>

</p>


<p>
  <strong>Date:</strong>
  <%= @contact.date %>
</p>

<p>
  <strong> Created at:</strong>
  <%=  @contact.created_at %>
</p>



<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
