<p id="notice"><%= notice %></p>

<p>
  <strong>First:</strong>
  <%= @contact.first %>
</p>

<p>
  <strong>Last:</strong>
  <%= @contact.last %>
</p>

<p>
  <strong>Model:</strong>
  <%= @contact.model %>
</p>

<p>
  <strong>Phone:</strong>
  <%=  @contact.phone %>

</p>


<p>
  <strong>Date:</strong>
  <%= @contact.date %>
</p>

<p>
  <strong> Date Input:</strong>
  <%#=  @contact.created_at.in_time_zone("America/Denver") %>
  <%= @contact.created_at.strftime("%m-%d-%Y") %>
</p>

<p>
  <strong> Time Input:</strong>
  <%#=  @contact.created_at.in_time_zone("America/Denver") %>
  <%= @contact.created_at.strftime(" %T") %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
