<!DOCTYPE html>
<html>
  <head>

<link href="https://fonts.googleapis.com/css?family=Lato|Montserrat|Open+Sans|Play|Roboto" rel="stylesheet"> 


    <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">
  
    <title>Ryan Mont</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/nav' %>
    <%= yield %>

     <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>

     <script>
      AOS.init({
      // offset: 200,
      // duration: 1600,
      easing: 'ease-in-sine',
      // delay: 800,
      });
      </script>

  </body>
</html>
